body.clean #player_stats, body.clean #header, body.clean #game_stats, body.clean #geotools, body.clean #comm, 
body.clean #bottom_right_stack, body.clean #portal_filter_header, body.clean #footer, #map_canvas.clean .gmnoprint {
  display: none;
}

body.clean #dashboard_container{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}